.btn{
    background-color: red;
    border-radius: 6px;
    color: white;
    padding: 30px;
}
.btn{
    background-color: black !important;
    border-radius: 6px;
    color: white;
    padding: 30px;
}
.btn{
    background-color: green;
    border-radius: 6px;
    color: white;
    padding: 30px;
}